<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="header">
		<span class="bimg-head"><%= image_tag("head_img.jpg", size: "1316x200") %></span>
		<div>
			
			<div class="logo">
				<p><%= link_to image_tag("icon.jpg", size: "90x90"), root_path %>
				<br> What's your Story...?? </p>
			</div>
			<div class="slogan">
				<h1 class="welcome">Welcome to Blogger <br></h1>
				<h2 class="welcome-text">Right here, right now....Write away....!!!!!</h2>
			</div>
		</div>
	
		
		<div class="links">
			<ul>
				<li><%= link_to "Blogs", blogs_path %></li>
				<li><%= link_to "About", about_path %></li>
				<li class="new_post"><%= link_to "New Post", new_post_path %></li>
			</ul>
		</div> 
	</div>

<%= yield %>

</body>
</html>
